/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B1FC74;
    color: Green;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: Green;
    text-decoration: none;
}

.login-btn {
    background-color: #B1FC74;
    border: none;
    color: #00a2e3;
    padding: 10px 20px;
    cursor: pointer;
}

.hero {
    margin-top: 50px;
}

.hero h1 {
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
}

.start-btn {
    background-color: #B1FC74;
    border: none;
    color: #00a2e3;
    padding: 15px 30px;
    cursor: pointer;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    width: 30%;
    text-align: center;
}

footer {
    background-color: #B1FC74;
    color: white;
    text-align: center;
    padding: 10px;
}
